@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>工时管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="content" name="工作内容" />
                            </div>
                             <div class="col-sm-3">
                                <#NameCon id="workDate" name="日期" />
                            </div>
                            @if(shiro.hasPermission("walmart/audit")){
   							<div class="col-sm-3">
                            	<#SelectCon id="type" name="审核状态" >
		                            <option value="0">待审核 </option>
		                            <option value="1">已审核 </option>	
		                        </#SelectCon>
                            </div>
                            @}
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Worktime.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WorktimeTableToolbar" role="group">
                            @if(shiro.hasPermission("vendor/submit")){
                                <#button name="添加" icon="fa-plus" clickFun="Worktime.openAddWorktime()"/>
                                <#button name="修改" icon="fa-edit" clickFun="Worktime.openWorktimeDetail()" space="true"/>
                                <#button name="删除" icon="fa-remove" clickFun="Worktime.delete()" space="true"/>
                                <#button name="提交" icon="fa-upload" clickFun="Worktime.updateStatus(1)" space="true"/>
                            @}
                            @if(shiro.hasPermission("walmart/audit")){
                                <#button name="审核通过" icon="fa-check" clickFun="Worktime.updateStatus(2)" space="true"/>
                                <#button name="审核不通过" icon="fa-remove" clickFun="Worktime.updateStatus(3)" space="true"/>
                            @}
                        </div>
                        <#table id="WorktimeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/worktime/worktime/worktime.js"></script>
<script type="text/javascript">
	laydate.render({
        elem: '#workDate',
    });
</script>
@}
